/*Локальні шрифти*/
/* poppins-300 - latin */
@font-face {
  font-display: swap; /*директива, прискорює оптимізацію і впливає на завантаження*/
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*CSS - змінні*/
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-normal: #819857; /*HAX value*/
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}

/*1.Base - базові стилі*/
/* - "*" - визначає вибрати усі елементи коду, застосовується до усього коду,
   - "*::after/::before" - застосування до усіх псевдо-елементів, будь-яких елементів */
*,
*::before,
*::after {
  box-sizing: border-box; /*Щоб ширина і висота елемента з врахуванням рамки і  внутрю відступу коректно опрацьов.браузером*/
}

/*задати домінантні основні властивості сторінки: колір, шрифт, розмір шрифта*/
body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

/*щоб прибрати автоматичний відступ браузера вгорі (margin-top)
 для усіх заголовків*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block; /* робимо елемент посилання рядковим,
  щоб посилання не займало усього простору блоку,
 і курсор змінювався лише при наведенні на текст посилання.
 правильно додавати дане правило для усіх посилань*/
}

/*щоб для усіх адрес не змінювався стиль, 
як це передбачено автоматично браузером*/
address {
  font-style: normal;
}

/*щоб прибрати маркування списків для усіх тегів ul*/
ul {
  margin: 0; /*прибираємо, інакше - за замовчуванням додається браузером до усіх переліків*/
  padding: 0; /*прибираємо, інакше - за замовчуванням додається браузером до усіх переліків*/
  list-style-type: none;
}

/*Робимо заголовок дуже-дуже маленьким, щоб залишивсядля браузера, 
для людей з вадами зору, 
але щоб його візуально не було видно (як на прототипі)-->*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section {
  padding: 48px 0; /*задаємо для усіх секцій відступи вертикальні
  (і зверху, і знизу) - по 48, а горизонтальні - 0,через padding. 
  Це правильніше, ніж через margin */
}

.container {
  width: 100%; /*задаємо, щоб розмір вікна змінювався в залежності від розміру екрана*/
  max-width: 1288px; /*фіксуємо максимальну ширину блока+враховуємо паддінги*/
  margin: 0 auto; /*вирівнюємо по-середині, 
  інакше за замовчуванням вирівнювання зліва 
  і ширина не може бути зафіксована*/
  padding: 0 24px;
}

/*2.Button - стилі кнопки*/
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

/*стиль при наведенні курсору*/
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* 
  Нижче приклад форматування для стану кнопки - "кнопка неактивна"
    .button:disabled 
    {
    color:gray; 
    background-color: lightgray;
    border-color: currentColor; - додаємо наслідування кольору
    cursor: not-allowed;
    }
  Не застосовуємо у нашому прикладі, 
  бо нажаль через CSS не можна налаштувати правила, треба javaскрипт.
  */

/*3.link - стилі посилань*/
.link {
  color: var(--color-primary-light);
  text-decoration: none; /*щоб прибрати підкреслення посилань за замовчуванням від браузера*/
  transition: color 0.3s; /*задаємо перехід до елементу, але не до події!!!*/
}

/*стиль при наведенні курсору на посилання -hover */
.link:hover {
  color: var(--color-brand-normal);
  /*font-weight: 600;-прибрали цю властивість для посилань, 
  інакше при наведенні елементи стрибають, 
  бо шрифт(елемент) стає більшим, так не має бути*/
}

/*4. Header*/
.header {
  /*розтягуємо хедер на Блок вгорі у т.ч. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px; /*додаємо відступ зверху для блоку, як на прототипі*/
}

.header-container {
  display: flex; /*задаємо флекс-контейнер*/
  align-items: center; /*щоб елементи не розтягувалися на всю висоту контейнеру, 
  а зберігали задану для них висоту/відступи*/
  gap: 40px; /*відступи справа і зліву, щоб при зменшенні екрану не злипалося*/
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1; /*щоб розтягнути по ширині у вільному місці контейнеру*/
  gap: 40px; /*відступи справа і зліву, щоб при зменшенні екрану не злипалося*/
}

.header-menu {
  display: flex; /*усі елементи стали в рядочок*/
  gap: 64px; /*додає зазори між елементами усього меню*/
  flex-grow: 1; /*щоб розтягнути по ширині у вільному місці контейнеру*/
  justify-content: center; /*властивість, 
  що відповідає за вирівнювання вздовж головної горизонтальної вісі*/
}

/*5.Hero section - стилі головного заголовка*/
/*для головного заголовка зазавичай назва класу:hero-title*/
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top; /*щоб по осі х - вирівнювалося по центру, 
  а по осі у - по верху, щоб не обрізалися обличчя на картинці, 
  якщо розміри екрану будуть менші*/
  background-size: cover; /*щоб зображення займало усемь простір секції, 
  без спотворення пропорції*/
  /*background-attachment: fixed; /*фіксація зображення про скролінгу екрана для декорративного ефекту*/
}

.hero-title {
  margin-bottom: 0;
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

/*для виділення першого слова іншим кольором, 
найбільш доречно присвоїти йому окремий клас accent*/
.hero-title .accent {
  color: var(--color-brand-normal);
}

/*6.Аdvantages section - стилі заголовків пропозицій*/
.advantages-section {
  padding: 16px;
  background-color: var(
    --color-brand-normal
  ); /*більш правильно задавати заливку для контейнеру, 
  інакше вона не буде розтягуватися по вікну, а буде обмежена секцією*/
}

.advantages-list {
  display: flex; /*задаємо елементи в рядок*/
  justify-content: space-between; /*пропорційне розтягування елементів у рядку*/
  gap: 40px; /*щоб елементи не торкалися між собоою, при зменшенні екрану*/
}

.advantages-item {
  color: var(
    --color-primary-light
  ); /*якщо перелік не посилання, то колір  шрифта
 можна задати для батьківського тегу/класу (advantages-list), 
 але для посилань - треба для кожного окремо задавати клас - 
 так як робили вище (Шеф-кухарі, Контакти і т.д.). 
 П.С. Було змінено: перенесено до класу самих advantages-item, після створення цього класу */
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3; /*задається коефіцієнтом: (line height 84px/font-size 64px) */
}

.section-title.centered {
  /*для заголовків, що мають бути по-центру сторінки*/
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}

/*Traditions section*/
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex; /*розташовуємо контакт і зображення (два блоки) в рядок*/
  justify-content: space-between;
  gap: 40px; /*невеликий зазор між блоками*/
}

.traditions-content {
  min-width: 710px;
}

.traditios-title {
  margin-bottom: 42px;
}

.traditions-text .brand {
  /*спрацьовує для тих класів, що містять слово brand в .traditions-text*/
  color: var(--color-brand-normal);
  font-weight: 600;
}

.traditions-text .uppercase {
  /*спрацьовує для тих класів, що містять слово uppercase в .traditions-text*/
  text-transform: uppercase; /*шрифт у верхньому регістрі*/
}

.traditions-text.limited {
  /*щоб звернутися саме до 2-го блоку (limited) класу traditions-text*/
  max-width: 340px; /*щоб задати фіксовано ширину до цього блоку, 
  а не виористовути примусове перенеення через властивість <br>, 
  бо так некооектно*/
}
/*Chefs section*/
.chefs-title {
  position: relative;
  /*max-width: 520px; - прибираємо фіксовано ширину, 
  вирішили питання з переносом на 2 рядки додаванням <br/> в html*/
  margin: 0 auto 80px;
}

/*Задаємо псевдоелементи "лінії" і визначаємо властивості*/
.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
  /*налаштовуємо позиції - розміщення на формі для псевдоелементів*/
  position: absolute;
  bottom: 24px; /*посуваємо до нижньої межі і додаємо відступ згідно макету*/
}
/*Визначаємо місце розміщення для псевдоелементів*/
.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex; /*щоб картки стали в ряд, перед цим було створено клас chefs-list і  */
  gap: 40px 30px; /*1-й відповідає за відступ по висоті між картками, 2-й по-ширині*/
  flex-wrap: wrap; /*якщо будуть додаватися нові каркти кухарів,
  то картки будуть переноситися, а не пробувати влізти в один рядок,
  стискаючи існуючі*/
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
  /*щоб у ряд поміщалося лише 2 картки і дилили простір порівну, 
  та віднімаємо геп*/
  /*обов'язково зазаначаємо пробіли у формулі*/
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark); /*псевдоелементом додали рамку з радіусом*/
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p/*звертаємося до кожного параграфу через "р"*/ {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  /*прибираємо відступ після останнього параграфа*/
  margin-bottom: 0px;
}

/* можна було б обрати такий варінт: для осіх, окрім останнього:
.chef-text p:not(:last-child) {margin-bottom: 24px;}
  але він не спрацює, бо вище задається обов. відступ для усіх у 18рх)
*/

/*Format section*/
.format-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.formats-list {
  display: flex; /*щоб розташувати картки в ряд*/
  flex-wrap: wrap; /*щоб блоки переносилися на новий рядок,якщо у рядку більше 3-х*/
  gap: 20px; /*проміжок між картками*/
}

.formats-item {
  flex-basis: calc((100% - 40px) / 3);
  /*розрахувати - задати для браузера, 
  що розмір блоку спику має бути третя частина, 
  при цьому відняти суму гепів між блоками. Якщо не задати, 
  то блоки будуть звужуватися/розширятися в залежності від розміру вікна.
  П.С. у формулі calc - обов. усе має розділятися пробілами!!!, інакше не спрацьовує */
}

.format-card {
  height: 444px;
  padding: 24px;
  /*задаємо градієнт для блоку, з фігма*/
  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-primary-dark) 100%
  );
  border: 1px solid lightgray;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0 #000000; /*задаємо тінь для блоку, з фігма*/
  transition: transform 0.3s; /*задаємо тривалість переходу - плавність*/
}

.format-card:hover {
  transform: scale(1.05);
  /*задаємо візуальне збільшення картки при наведенні на неї*/
}

.formats-title {
  margin-bottom: 80px;
}

.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/*Carousel*/
.carousel-button {
  display: flex;
  align-items: center; /*робить елементи вирівняними по центру зверху–вниз, по вертикалі*/
  justify-content: center; /*Вирівнює елементи по головній осі, по горизонталі*/
  flex-shrink: 0; /*властивість, щоб елемент не стискався, фіксує ширину*/
  width: 44px;
  height: 44px;
  padding: 0; /*прибираємо паддінги, що авт.було додано браузером*/
  background-color: transparent; /*щоб задати прозорий фон заливки*/
  border-radius: 50%; /**щоб зробити кнопку круглою, інкше - квадрат*/
  border: 1px solid var(--color-primary-dark);
  cursor: pointer; /*щоб при наведенні змінювався вигляд курсору*/
}

/*Повертаємо стрілочку вправо для каруселі*/
.carousel-button.next {
  /*читається як: якщо з класом "carousel-button", 
  є клас "next", 
  тоді треба виконати поврот стрілочки*/
  transform: rotate(180deg);
}

.carousel-arrow {
  fill: var(--color-primary-dark); /*колір стрілочки (самого елемента)*/
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
}

.carousel-button:hover .carousel-arrow {
  /*при натисканні на кнопочку, 
  елемент в середині має мінюватися на*/
  fill: var(--color-primary-light);
}

/*Contact section*/
.contacts-section {
  padding-bottom: 96px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-title {
  margin-bottom: 16px;
}

.contact-map {
  flex-shrink: 0; /*щоб карта не стисклася, фіксуємо*/
  border: none;
  border-radius: 16px;
}

/*Footer*/
.footer {
  padding: 32px 0; /*паддінги завжди додаємо для самого верхнього елементу: для самої секції*/
  position: relative; /*якщо не задати значення для position футеру, 
  то псевдоелемент буде розміщуватися по відношенні до body, 
  а не до блоку футера (батьківського елемента)*/
  background-color: var(--color-primary-dark);
  /*бажано завжди додавати фон, 
  на той випадок якщо не дійде зображення то хоч відобразиться колір*/
  background-image: url('../images/footer-background.png');
  background-size: cover;
  background-position: center;
}

/*додаємо псевдоелементи  до футеру - малюнки хлибинок
та позиціонуємо*/
.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: '';
}
.footer::before {
  left: 0;
  width: 180px;
  height: 120px;
  background-image: url('../images/decor-bread-small.png');
}
.footer::after {
  right: 0;
  width: 380px;
  height: 190px;
  background-image: url('../images/decor-bread-large.png');
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address /*якщо співпадають стилі для одних і тих же класів, 
то можна їх зазаначати через "кому"*/ {
  display: flex;
  flex-basis: 50%; /*краще ніж марджени, не фіксовано розмір, 
  буде пропорційно зменшуватися при зменшенні екрану*/
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1; /*майже теж саме. що "flex-basis: 50%;" 
  - але краще використовувати "flex-grow: 1";
  краще ніж марджени, не фіксовано розмір, 
  буде пропорційно зменшуватися при зменшенні екрану*/
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(
    --color-primary-light
  ); /*через властивість fill задається заливку для іконок*/
  /*stroke: brown; /*щоб задати обводку для елементів іконки - прибираємо, бо не треба зараз*/
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-secondary-dark);
}

/*Modal - Стилі для модального вікна (вкладеної картки)*/
/*Додаємо затемнений фон для модального вікна .backdrop*/
.backdrop {
  position: fixed;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  /*розтягнення на усю ширину екрана*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*розташування модального вікна по-центру затемненого фону*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*налаштування анімації*/
  transition: opacity 0.3s, visibility 0.3s; /*плавність переходу*/
}

.backdrop.is-hidden {
  /* display: none; - не зовсім коректно ховати модальне вікно черезе цю функцію
 правильніше так, як описано нижче, адже ще може бути застована анімація*/
  opacity: 0; /*вікно стає невидимим, але насправді не пропрадає*/
  visibility: hidden; /*ховає вікно*/
  pointer-events: none; /*забороняє клікати/обирати/виконувати дії з/на модальним вікном*/
}

.modal {
  position: relative;
  /*додаємо ширину і висоту модального вікна 100%, але не більше ніж max-...*/
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light); /*поки не було додано border - 
  модальне вікно не відображалося!*/
  border-radius: 32px;
  overflow-y: auto; /*додає скрол, щоб можна було прокуручувати вікно вниз, 
  якщо усі поля не поміщаються на формі одразу*/
}

/*Налаштовуємо кнопку закриття модального вікна*/
.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
}

/*Form*/
.form-field {
  position: relative; /*дозволяє зміщувати елемент, прив’язувати до себе дочерні елементи.*/
  margin-bottom: 32px;
}

.form-label {
  /*display: block; - щоб зробити елементи блоковим, 
  інкше браузер усі назви і поля форми ставить у рядочок. 
  Потім цю властивість прибрали, замінили на position:absolute */
  position: absolute;
  top: 16px;
  left: 42px;
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-dark);
  border-radius: 8px;
  background-color: transparent; /*прозорий колір*/
}

.form-input:focus {
  /*як будуть змінюватися властивості при введенні тексту*/
  border-color: var(--color-brand-normal);
  outline: none; /*прибираємо цю властивість виділення поля, 
  що браузер додає за замовчуванням, інакше не видно змін кольору, що ми задали*/
}

/*
Налаштування - показати обов"язковість:
.form-input:required {
    border-color: red;
}
у нашому прикладі не застосовуємо - 
від дизайнера немає вимог до цього стану
*/

.form-input:disabled {
  /*налаштування, коли поле неактивне для заповнення*/
  border-color: lightgray;
}

.form-input:disabled::placeholder {
  /*налаштування, коли поле неактивне для заповнення*/
  color: lightgray;
}

.form-input::placeholder {
  color: var(--color-secondary-dark);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus:placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  /*додаємо ці 2 властивості, щоб кнопка стала по-середині*/
  display: block;
  margin: 0 auto 24px;
}

.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
