/*Base - базові стилі*/
/* - "*" - визначає вибрати усі елементи коду, застосовується до усього коду,
   - "*::after/::before" - застосування до усіх псевдо-елементів, будь-яких елементів */
*,
*::before,
*::after {
  box-sizing: border-box; /*Щоб ширина і висота елемента з врахуванням рамки і  внутрю відступу коректно опрацьов.браузером*/
}

/*задати домінантні основні властивості сторінки: колір, шрифт, розмір шрифта*/
body {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

/*щоб прибрати автоматичний відступ браузера вгорі (margin-top)
 для усіх заголовків*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block; /* робимо елемент посилання рядковим,
  щоб посилання не займало усього простору блоку,
 і курсор змінювався лише при наведенні на текст посилання.
 правильно додавати дане правило для усіх посилань*/
}

/*щоб для усіх адрес не змінювався стиль, 
як це передбачено автоматично браузером*/
address {
  font-style: normal;
}

/*щоб прибрати маркування списків для усіх тегів ul*/
ul {
  margin: 0; /*прибираємо, інакше - за замовчуванням додається браузером до усіх переліків*/
  padding: 0; /*прибираємо, інакше - за замовчуванням додається браузером до усіх переліків*/
  list-style-type: none;
}

/*is-hidden має реально змінювати layout (display / visibility / pointer-events)*/
.backdrop.is-hidden {
  display: none;
}
