/*CSS - змінні*/
@import './utils/variables';

/*Локальні шрифти*/
@import './utils/fonts';

/*1.Base - базові стилі*/
@import './base'; /*підключаємо базові стилі, щл були перенесені в _base.scss*/

/*1.1. Приховування заголовка*/
@import './utils/utils';

/*Section*/
@import './layouts/section';

/*Text-brand*/
@import './utils/texts';

/*Container*/
@import './layouts/container';

/*2.Button - стилі кнопки*/
@import './components/buttons';

/*3.link - стилі посилань*/
@import './components/links';

/*4. Header*/
@import './layouts/header';

/*5.Hero section - стилі головного заголовка*/
@import './layouts/hero-section';

/*6. Аdvantages-section - стилі заголовків пропозицій*/
@import './layouts/advantages-section';

/*7. Traditions-section*/
@import './layouts/traditions-section';

/*8. Chefs-section*/
@import './layouts/chefs-section';

/*8.1. Chef-card*/
@import './components/chef-card';

/*9. Formats-section*/
@import './layouts/formats-section';

/*9.1. Format-card*/
@import './components/format-card';

/*10. Carousel*/
@import './components/carousel-button';

/*11. Contact-section*/
@import './layouts/contact-section';

/*12. Footer*/
@import './layouts/footer';

/*13. Modal*/
@import './layouts/modal';

/*14. Forms-input*/
@import './components/input';

/*.14.1. Form-terms*/
@import './components/form-terms';
