/*Згідно стандарту - 
необхідно розміщувати по алфавіту*/

/*Змінні*/
@import './utils/variables';
/*Локальні шрифти*/
@import './utils/fonts';
/*Text-brand*/
@import './utils/texts';
/*Приховування заголовка*/
@import './utils/utils';

/*Base - базові стилі*/
@import './base'; /*підключаємо базові стилі, що були перенесені в _base.scss*/

/*Аdvantages-section - стилі заголовків пропозицій*/
@import './layouts/advantages-section';
/*Chefs-section*/
@import './layouts/chefs-section';
/*Contact-section*/
@import './layouts/contact-section';
/*Container*/
@import './layouts/container';
/*Footer*/
@import './layouts/footer';
/*Formats-section*/
@import './layouts/formats-section';
/*Header*/
@import './layouts/header';
/*Hero section - стилі головного заголовка*/
@import './layouts/hero-section';
/*Mobile-menu*/
@import './layouts/mobile-menu';
/*Modal*/
@import './layouts/modal';
/*Section*/
@import './layouts/section';
/*Traditions-section*/
@import './layouts/traditions-section';

/*Button - стилі кнопки*/
@import './components/buttons';
/*Carousel*/
@import './components/carousel-button';
/*Chef-card*/
@import './components/chef-card';
/*Form-terms*/
@import './components/form-terms';
/*Format-card*/
@import './components/format-card';
/*Forms-input*/
@import './components/input';
/*link - стилі посилань*/
@import './components/links';
/*Кнопочки для слайдеру внизу*/
@import './components/pagination';
