.text-brand {
  color: var(--color-brand-normal);
}

.text-brand-dark {
  color: var(--color-brand-dark);
}
.text-bold {
  /*спрацьовує для тих класів, що містять слово text-bold */
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase; /*шрифт у верхньому регістрі*/
}

/*Варіант 1: для виділення першого слова в hero-title та chefs-section 
іншим кольором, найбільш доречно присвоїти йому окремий клас accent
.hero-title .accent {
  color: var(--color-brand-normal);
}
  
.section-title .accent {
  color: var(--color-brand-dark);
}
  
.traditions-text .brand {
  /*спрацьовує для тих класів, що містять слово brand в .traditions-text
  font-weight: 600;
  color: var(--color-brand-normal);
}

  .traditions-text .uppercase {
  /*спрацьовує для тих класів, що містять слово uppercase в .traditions-text
  text-transform: uppercase; /*шрифт у верхньому регістрі
}

потім цей клас видалили і замінили на text-brand та text-bold, text-uppercase
- як окремий блок,
що може використовуватися в різних місцях*/
