/*Робимо заголовок дуже-дуже маленьким, щоб залишивсядля браузера, 
для людей з вадами зору, 
але щоб його візуально не було видно (як на прототипі)-->*/
.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
