/*CSS - змінні*/
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-secondary-dark: #a18268;
  --color-brand-normal: #819857; /*HAX value*/
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}
