/*Аdvantages-section - стилі заголовків пропозицій*/
.advantages-section {
  padding: 16px;
  background-color: var(
    --color-brand-normal
  ); /*більш правильно задавати заливку для контейнеру, 
  інакше вона не буде розтягуватися по вікну, а буде обмежена секцією*/
}

.advantages-list {
  display: flex; /*задаємо елементи в рядок*/
  justify-content: space-between; /*пропорційне розтягування елементів у рядку*/
  gap: 40px; /*щоб елементи не торкалися між собоою, при зменшенні екрану*/
}

.advantages-item {
  color: var(
    --color-primary-light
  ); /*якщо перелік не посилання, то колір  шрифта
 можна задати для батьківського тегу/класу (advantages-list), 
 але для посилань - треба для кожного окремо задавати клас - 
 так як робили вище (Шеф-кухарі, Контакти і т.д.). 
 П.С. Було змінено: перенесено до класу самих advantages-item, після створення цього класу */
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3; /*задається коефіцієнтом: (line height 84px/font-size 64px) */
}

.section-title.centered {
  /*для заголовків, що мають бути по-центру сторінки*/
  text-align: center;
}

.section-title .accent {
  color: var(--color-brand-dark);
}
