/*Button - стилі кнопки*/
.button {
  padding: 16px 32px;
  color: var(--color-primary-light);
  font-weight: 600;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  border-radius: 8px;
  cursor: pointer;
}

/*стиль при наведенні курсору*/
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* 
  Нижче приклад форматування для стану кнопки - "кнопка неактивна"
    .button:disabled 
    {
    color:gray; 
    background-color: lightgray;
    border-color: currentColor; - додаємо наслідування кольору
    cursor: not-allowed;
    }
  Не застосовуємо у нашому прикладі, 
  бо нажаль через CSS не можна налаштувати правила, треба javaскрипт.
  */
