/*Carousel*/
.carousel-button {
  display: flex;
  align-items: center; /*робить елементи вирівняними по центру зверху–вниз, по вертикалі*/
  justify-content: center; /*Вирівнює елементи по головній осі, по горизонталі*/
  flex-shrink: 0; /*властивість, щоб елемент не стискався, фіксує ширину*/
  width: 44px;
  height: 44px;
  padding: 0; /*прибираємо паддінги, що авт.було додано браузером*/
  background-color: transparent; /*щоб задати прозорий фон заливки*/
  border-radius: 50%; /**щоб зробити кнопку круглою, інкше - квадрат*/
  border: 1px solid var(--color-primary-dark);
  cursor: pointer; /*щоб при наведенні змінювався вигляд курсору*/

  /*Повертаємо стрілочку вправо для каруселі*/
  &.next {
    /*читається як: якщо з класом "carousel-button", 
  є клас "next", 
  тоді треба виконати поврот стрілочки*/
    transform: rotate(180deg);
  }

  &:hover {
    background-color: var(--color-primary-dark);
  }

  &:hover .carousel-arrow {
    /*при натисканні на кнопочку, 
  елемент в середині має мінюватися на*/
    fill: var(--color-primary-light);
  }
}

.carousel-arrow {
  fill: var(--color-primary-dark); /*колір стрілочки (самого елемента)*/
}
