.chef-card {
  display: flex;
  align-items: flex-start; /*щоб зображення, що прив"язані до тексту, 
  не розтігувалися за текстом, при зменшенні екрану*/
  gap: 16px;

  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }

  &__photo {
    width: 140px;
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light),
      -16px 16px 0 2px var(--color-secondary-dark); /*псевдоелементом додали рамку з радіусом*/
    @media screen and (min-width: $bp-desktop) {
      width: 240px;
    }
  }
  &__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }
  }

  &__text /*звертаємося до кожного параграфу через "р"*/ {
    font-size: 14px;
    margin-bottom: 24px;

    &:last-child {
      /*прибираємо відступ після останнього параграфа*/
      margin-bottom: 0px;

      /* можна було б обрати такий варінт: для осіх, окрім останнього:
.chef-text p:not(:last-child) {margin-bottom: 24px;}
  але він не спрацює, бо вище задається обов. відступ для усіх у 18рх)
*/
    }

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
  }
}
