/*Chefs-section*/
.chefs-title {
  position: relative;
  /*max-width: 520px; - прибираємо фіксовано ширину, 
  вирішили питання з переносом на 2 рядки додаванням <br/> в html*/
  margin: 0 auto 80px;
}

/*Задаємо псевдоелементи "лінії" і визначаємо властивості*/
.chefs-title::before,
.chefs-title::after {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brand-light);
  content: '';
  /*налаштовуємо позиції - розміщення на формі для псевдоелементів*/
  position: absolute;
  bottom: 24px; /*посуваємо до нижньої межі і додаємо відступ згідно макету*/
}
/*Визначаємо місце розміщення для псевдоелементів*/
.chefs-title::before {
  left: 0;
}
.chefs-title::after {
  right: 0;
}

.chefs-list {
  display: flex; /*щоб картки стали в ряд, перед цим було створено клас chefs-list і  */
  gap: 40px 30px; /*1-й відповідає за відступ по висоті між картками, 2-й по-ширині*/
  flex-wrap: wrap; /*якщо будуть додаватися нові каркти кухарів,
  то картки будуть переноситися, а не пробувати влізти в один рядок,
  стискаючи існуючі*/
}

.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
  /*щоб у ряд поміщалося лише 2 картки і дилили простір порівну, 
  та віднімаємо геп*/
  /*обов'язково зазаначаємо пробіли у формулі*/
}

.chef-card {
  display: flex;
  gap: 30px;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primary-light),
    -16px 16px 0 2px var(--color-secondary-dark); /*псевдоелементом додали рамку з радіусом*/
}
.chef-title {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-text p/*звертаємося до кожного параграфу через "р"*/ {
  margin-bottom: 24px;
}

.chef-text p:last-child {
  /*прибираємо відступ після останнього параграфа*/
  margin-bottom: 0px;
}

/* можна було б обрати такий варінт: для осіх, окрім останнього:
.chef-text p:not(:last-child) {margin-bottom: 24px;}
  але він не спрацює, бо вище задається обов. відступ для усіх у 18рх)
*/
