/*link - стилі посилань*/
.link {
  color: var(--color-primary-light);
  text-decoration: none; /*щоб прибрати підкреслення посилань за замовчуванням від браузера*/
  transition: color 0.3s; /*задаємо перехід до елементу, але не до події!!!*/
}

/*стиль при наведенні курсору на посилання -hover */
.link:hover {
  color: var(--color-brand-normal);
  /*font-weight: 600;-прибрали цю властивість для посилань, 
  інакше при наведенні елементи стрибають, 
  бо шрифт(елемент) стає більшим, так не має бути*/
}
