/*Аdvantages-section - стилі заголовків пропозицій*/
.advantages-section {
  padding: 16px 0;

  @media screen and (min-width: $bp-tablet) {
    background-color: var(--color-brand-normal);
    /*більш правильно задавати заливку для контейнеру, 
  інакше вона не буде розтягуватися по вікну, а буде обмежена секцією*/
  }

  &__list {
    display: flex; /*задаємо елементи в рядок*/
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    background-color: var(--color-brand-light);
    border-radius: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between; /*пропорційне розтягування елементів у рядку*/
      gap: 40px; /*щоб елементи не торкалися між собоою, при зменшенні екрану*/
      background-color: transparent;
      padding: 0;
    }
  }

  &__item {
    font-size: 14px;
    font-weight: 300;

    @media screen and (min-width: $bp-tablet) {
      color: var(--color-primary-light);
      /*якщо перелік не посилання, то колір  шрифта
 можна задати для батьківського тегу/класу (advantages-list), 
 але для посилань - треба для кожного окремо задавати клас - 
 так як робили вище (Шеф-кухарі, Контакти і т.д.). 
 П.С. Було змінено: перенесено до класу самих advantages-item, 
 після створення цього класу */
      font-size: 20px;
    }
  }
}
