/*Container*/
.container {
  width: 100%; /*задаємо, щоб розмір вікна змінювався в залежності від розміру екрана*/
  max-width: 1288px; /*фіксуємо максимальну ширину блока+враховуємо паддінги*/
  margin: 0 auto; /*вирівнюємо по-середині, 
  інакше за замовчуванням вирівнювання зліва 
  і ширина не може бути зафіксована*/
  padding: 0 24px;
}
