/*Contact-section*/
.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    /*додаємо ці 2 властивості, щоб кнопка стала по-середині*/
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0; /*щоб карта не стисклася, фіксуємо*/
    border: none;
    border-radius: 16px;
  }
}
