/*Formats-section*/
.formats-section {
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    overflow: hidden;
  }

  &__list {
    margin-bottom: 32px;
  }

  &__button.carousel-button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}

/*  Усі нижні властивості видалили, 
бо деякі вже задані рівнями вище


  &__title {
    margin-bottom: 80px;
  }
    
  &__list {
    display: flex; /*щоб розташувати картки в ряд*
    flex-wrap: wrap; /*щоб блоки переносилися на новий рядок,якщо у рядку більше 3-х*
    gap: 20px; /*проміжок між картками*
  }*/

/* &__item {
    flex-basis: calc((100% - 40px) / 3);
    /*розрахувати - задати для браузера, 
  що розмір блоку спику має бути третя частина, 
  при цьому відняти суму гепів між блоками. Якщо не задати, 
  то блоки будуть звужуватися/розширятися в залежності від розміру вікна.
  П.С. у формулі calc - обов. усе має розділятися пробілами!!!, інакше не спрацьовує 
  }
   - видаляємо це налаштування, 
   бо для моб.версій змінюємо на переключення між карточками
  */
