/*Formats-section*/
.formats-section {
  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__list {
    display: flex; /*щоб розташувати картки в ряд*/
    flex-wrap: wrap; /*щоб блоки переносилися на новий рядок,якщо у рядку більше 3-х*/
    gap: 20px; /*проміжок між картками*/
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
    /*розрахувати - задати для браузера, 
  що розмір блоку спику має бути третя частина, 
  при цьому відняти суму гепів між блоками. Якщо не задати, 
  то блоки будуть звужуватися/розширятися в залежності від розміру вікна.
  П.С. у формулі calc - обов. усе має розділятися пробілами!!!, інакше не спрацьовує */
  }
}
