/*Header*/
.header {
  /*розтягуємо хедер на Блок вгорі у т.ч. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 32px; /*додаємо відступ зверху для блоку, як на прототипі*/

  &__container {
    display: flex; /*задаємо флекс-контейнер*/
    align-items: center; /*щоб елементи не розтягувалися на всю висоту контейнеру, 
  а зберігали задану для них висоту/відступи*/
    gap: 40px; /*відступи справа і зліву, щоб при зменшенні екрану не злипалося*/
  }

  &__nav {
    display: flex;
    align-items: center;
    flex-grow: 1; /*щоб розтягнути по ширині у вільному місці контейнеру*/
    gap: 40px; /*відступи справа і зліву, щоб при зменшенні екрану не злипалося*/
  }

  &__menu {
    display: flex; /*усі елементи стали в рядочок*/
    gap: 64px; /*додає зазори між елементами усього меню*/
    flex-grow: 1; /*щоб розтягнути по ширині у вільному місці контейнеру*/
    justify-content: center; /*властивість, 
  що відповідає за вирівнювання вздовж головної горизонтальної вісі*/
  }
}
