/*Hero section - стилі головного заголовка*/
/*для головного заголовка зазавичай назва класу:hero-title*/
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url('../images/hero-section-background.jpg');
  background-repeat: no-repeat;
  background-position: center top; /*щоб по осі х - вирівнювалося по центру, 
  а по осі у - по верху, щоб не обрізалися обличчя на картинці, 
  якщо розміри екрану будуть менші*/
  background-size: cover; /*щоб зображення займало усемь простір секції, 
  без спотворення пропорції*/
  /*background-attachment: fixed; /*фіксація зображення про скролінгу екрана для декорративного ефекту*/

  &__title {
    margin-bottom: 0;
    color: var(--color-primary-light);
    text-align: center;
    font-size: 128px;
    font-weight: 900;
  }
}

/*Варіант 1: для виділення першого слова в hero-title та chefs-section 
іншим кольором, найбільш доречно присвоїти йому окремий клас accent
.hero-title .accent {
  color: var(--color-brand-normal);
}
  
потім цей клас видалили і замінили на text-brand -> в _texts.scss - як окремий блок,
що може використовуватися в різних місцях*/
